nonPublic/private_key.pepk
nonPublic/google-services.json
nonPublic/SwimMeterKeyStore.jks
nonPublic/
zz__old_swimmeterApp/
zz__old_swimmeterApp.zip
swimmeterApp/app/debug/app-debug.aab
app/bleStarterApp/ble-starter-android/
swimmeterApp/.idea/deploymentTargetDropDown.xml
