nonPublic/private_key.pepk
nonPublic/google-services.json
nonPublic/SwimMeterKeyStore.jks
nonPublic/
zz__old_swimmeterApp/
swimmeterApp/.idea/deploymentTargetSelector.xml
receiver/picow/logData.csv
/receiver/picow/__pycache__
receiver/picow/logDataLocal.csv
receiver/loggingData/.~lock.Analysis.ods#
/receiver/case/thingiverse_6128955/files
/receiver/case/thingiverse_6128955/images
receiver/case/thingiverse_6128955/LICENSE.txt
receiver/case/thingiverse_6128955/README.txt
swimmeterApp/.idea/other.xml
