nonPublic/private_key.pepk
nonPublic/google-services.json
nonPublic/SwimMeterKeyStore.jks
nonPublic/
zz__old_swimmeterApp/
swimmeterApp/.idea/deploymentTargetSelector.xml
receiver/picow/logData.csv
/receiver/picow/__pycache__
receiver/picow/logDataLocal.csv
receiver/loggingData/.~lock.Analysis.ods#
/receiver/case/thingiverse_6128955/files
/receiver/case/thingiverse_6128955/images
receiver/case/thingiverse_6128955/LICENSE.txt
receiver/case/thingiverse_6128955/README.txt
swimmeterApp/.idea/other.xml
swimmeterApp/build/reports/configuration-cache/5khu3aopdv6ol2iop2m0xj9bs/xht60knajy1yf47v74un8krz/configuration-cache-report.html
swimmeterApp/build/reports/configuration-cache/7ah8pru4amr54xv8pnqviutvp/abejthkccha98pru5nign1s5s/configuration-cache-report.html
